<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.pro.mapper.MerchantUserEntityMapper">

    <resultMap id="BaseResultMap" type="com.pet.pro.entity.MerchantUserEntity">
            <id property="merchant_user_id" column="merchant_user_id" jdbcType="INTEGER"/>
            <result property="merchant_name" column="merchant_name" jdbcType="VARCHAR"/>
            <result property="merchant_address" column="merchant_address" jdbcType="VARCHAR"/>
            <result property="login_id" column="login_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        merchant_user_id,merchant_name,merchant_address,
        login_id
    </sql>
</mapper>
