<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.pro.mapper.RegularUserEntityMapper">

    <resultMap id="BaseResultMap" type="com.pet.pro.entity.RegularUserEntity">
            <id property="regular_user_id" column="regular_user_id" jdbcType="INTEGER"/>
            <result property="birthday" column="birthday" jdbcType="VARCHAR"/>
            <result property="login_id" column="login_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        regular_user_id,birthday,login_id
    </sql>
</mapper>
